body {
	margin: auto;
}

.top {
	background-color: #1D6D75;

}

.lien {
	text-decoration:none;
	color: white;
	text-align: right;
	font-size: 170%;


}

.logo {
	align-items: left;
	height: 200px;
	width: 200px;
	;
}

.text {
	text-align: center;
	font-size: 200%;
	color:white;
	font-family: "" ;
}

.image {
	text-align: center;
}

.low {
	background-color: #282828;
	text-align: center;


}

.button {
	color: white;
	background-color: #1D6D75;
	height: 30px;
	border-radius: 5px;
}

.textarea {
	border-radius: 5px;
	width: 1150px;
}